.color:after,
.module-block:after,
.gallery:after,
.social:after {
  content: ".";
  display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
body {
    color: blue;
}

h4 {
    color: green;
    height: 200px;
}
